body {
    /* font-family: "Montserrat", sans-serif; */
    font-family: 'Noto Serif', serif;
    text-align: center;
  }
  
  div {
    display: inline-block;
  }
  
  .bigger {
    margin: 0;
    font-size: 60px;
    font-weight: 800;
    padding: 20px;
    text-transform: uppercase;
    color: #202020;
    display: inline-block;
    position: relative;
  }
  
  .text {
    max-width: 600px;
    width: 100%;
    line-height: 24px;
    text-align: left;
    color: #404040;
    padding: 20px;
  }
  .text.txt-center {
    text-align: center;
  }
  .text a {
    color: #e40f3d;
  }
  
  .has-animation {
    position: relative;
  }
  .has-animation p, .has-animation img {
    opacity: 0;
  }
  .has-animation.animate-in p, .has-animation.animate-in img {
    animation: textHidden 0.1s 1.1s forwards;
  }
  .has-animation.animate-in:before, .has-animation.animate-in:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 10;
  }
  .has-animation.animate-in:before {
    background-color: rgb(60, 155, 199);
  }
  .has-animation.animate-in:after {
    background-color: #202020;
    animation-delay: 0.5s;
  }
  .has-animation.animation-ltr.animate-in:before {
    animation: revealLTR 1.8s ease;
  }
  .has-animation.animation-ltr.animate-in:after {
    animation: revealLTR 1s 0.6s ease;
  }
  .has-animation.animation-rtl.animate-in:before {
    animation: revealRTL 1.8s ease;
  }
  .has-animation.animation-rtl.animate-in:after {
    animation: revealRTL 1s 0.6s ease;
  }
  
  /* counts */

  .counts {
    padding: 30px 0;
    /* background-color: white; */
    background-color: rgba(0, 0, 0, 0.35);
    /* filter: blur(1px); */
    backdrop-filter: blur(5px);
  }
  
  .counts .counters span {
    font-size: 48px;
    display: block;
    color: brown;
    font-weight: 700;
    text-shadow: 1px 1px 20px #6a0e0e;
  }
  
  .counts .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    /* font-family: "Raleway", sans-serif; */
    font-family: 'Noto Serif', serif;
    font-size: 15px;
    font-weight: 600;
    color: whitesmoke;
    text-shadow: 0.2px 0.2px 1px lavenderblush;
  }

  /* end counts */
  @keyframes revealRTL {
    0% {
      width: 0;
      right: 0;
    }
    65% {
      width: 100%;
      right: 0;
    }
    100% {
      width: 0;
      right: 100%;
    }
  }
  @keyframes revealLTR {
    0% {
      width: 0;
      left: 0;
    }
    65% {
      width: 100%;
      left: 0;
    }
    100% {
      width: 0;
      left: 100%;
    }
  }
  @keyframes textHidden {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }